.contact {
    height: 100vh;
    padding-top: 40vh;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background: 
        linear-gradient(
            to right,
            rgba($primary-color, 0.9),
            rgba($primary-color, 0.6)
        ), url("https://images.unsplash.com/photo-1543339308-43e59d6b73a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
        center top;
    background-size: cover;

    h4 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    &__email, &__phone, &__address {
        padding: 10px;
        font-size: 1.5rem;
    }
}