@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
    padding: 0; margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #071627;
    color: #fff;
    line-height: 1;
}

img {
    width: 100%;
    object-fit: contain;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
  }